[Unit]
Description=Tractor-blade
After=network-online.target

[Service]
Type= simple
ExecStart=/opt/pixar/Tractor-2.2/bin/tractor-blade
ExecStop=/opt/pixar/Tractor-2.2/bin/tractor-blade
ExecReload= /opt/pixar/Tractor-2.2/bin/tractor-blade
StandardOutput=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

//after this file is created in /etc/systemd/system/ as something like blade.service be sure to enable it with 'systemctl enable blade.service'
//for further readings about how to create systemd services look at https://wiki.archlinux.org/index.php/systemd
